<link rel="stylesheet" href="/css/nav.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
<div class="nav">
    <div class="sq"></div>
    <div class="search-div">
        <span class="material-icons-outlined">
            search
        </span>
    </div>
    <div class="acc-cred">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQX5muqH6KDKLDD4gIkuPkbf9BWhwU2kdJ7FA&usqp=CAU" alt="">
    </div>
    <ul>
        <li>
            <span class="material-icons-outlined">
                home
            </span>
        </li>
        <li>
            <span class="material-icons-outlined">
                videocam
            </span>
        </li>
        <li>
            <span class="material-icons-outlined">
                calendar_today
            </span>
        </li>
        <li>
            <span class="material-icons-outlined">
                chat_bubble_outline
            </span>
        </li>
        <li>
            <span class="material-icons-outlined">
                import_contacts
            </span>
        </li>
        <li>
            <span class="material-icons-outlined">
                assignment_turned_in
            </span>
        </li>
        <div class="settings">
            <span class="material-icons-outlined">
                settings
            </span>
        </div>
    </ul>
</div>
<div class="line-1"></div>