<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Quiz</title>
</head>
<style>
    input {
        position: absolute;
        margin-top: 2.5vw;
        margin-left: 20vw;
        background: #232333;
        border: none;
        border-bottom: 2px solid #eee;
        transition: all 0.5s ease;
        width: 25vw;
        padding: 10px;
        border-radius: .5vw;
    }

    input:focus {
        outline: none;
        border-bottom: 2px solid #2967E0;
    }
</style>

<body>
    <h1>Create a Quiz</h1>
    <form action="/quiz/create" method="POST">
        <input type="text" name="code" id="code" value="<%= classCode %> " hidden>
        <input type="text" name="name" id="name">
        <br>

        <input type="text" name="question" id="question" style="margin-top: 30vw;">
        <input type="text" name="answer" id="answer" style="margin-top: 30vw;">
        <br>
        <input type="text" name="question" id="question" style="margin-top: 30vw;">
        <input type="text" name="answer" id="answer" style="margin-top: 30vw;">
        <br>
        <input type="text" name="question" id="question" style="margin-top: 30vw;">
        <input type="text" name="answer" id="answer" style="margin-top: 30vw;">
        <button>Create Quiz</button>

    </form>
</body>

</html>