<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attempt Quiz</title>
</head>

<body>
    <h1>Questions</h1>
    <form action="/quiz/check/<%=code%>" method="POST">
        <% for( let i = 0; i < questions.length; i++ ) { %>
        <%= questions[i] %> <br>
        <input type="text" name="stdanswer" id="stdanswer">
        <% } %>
        <button>Submit Quiz</button>
    </form>
</body>

</html>