<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/css/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Register</title>
    <link rel="stylesheet" href="./css/register.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
    <!-- <form action="/register" method="POST">
        <input required="true" type="email" name="email" id="email" placeholder="Email">
        <input required="true" type="username" name="username" id="username" placeholder="username">
        <input required="true" type="username" name="username" id="username" placeholder="Password">
        <button type="submit" class="register">Register</button>
    </form> -->
    <div class="container-fluid">
        <div class="row register">
            <div class="col-sm-6">
                <div class="register-cont">
                    <h1>Let's get started</h1>
                    <form action="/register" method="POST">
                        <label for="" class="label-register-name">Name</label>
                        <input required="true" type="username" name="username" id="username"
                            class="input-register-name">
                        <label for="" class="label-register-email">Email</label>
                        <input required="true" type="email" name="email" id="email" class="input-register-email">
                        <label for="" class="label-register-pw">Password</label>
                        <input required="true" type="password" name="password" id="password" class="input-register-pw">
                        <button class="register-btn btn">Register</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-6 reg-img">
                <img src="https://media.discordapp.net/attachments/741244174736556076/878243259061764156/unknown.png"
                    alt="">
            </div>
        </div>
    </div>
</body>

</html>